@import "../../../styles/variable.scss";

input{
    border: none;
    border-radius: 8px;
    background-color: $gray-secundary-bg;

    color: $text-color;
    font-size: 16px;
    padding: 12px 0 12px 20px;
}